$layout-name: l-header;
$header-height: 80px;
$header-medium: 600;

body.is-header-fixed {
	margin-top: $header-height;
}

.#{$layout-name} {
	@include container;
	background-color: #fff;
	border-bottom: 1px solid var(--theme-color-4);
	position: relative;

	&.is-fixed {
		left: 0;
		opacity: 0;
		position: fixed;
		top: ($header-height + 1) * -1;
		transform: translate3d(0, 0, 0);
		transition: 0.25s all ease;
		visibility: hidden;
		width: 100%;
	}

	&.is-visible {
		opacity: 1;
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	&__content {
		@include content;
		align-items: center;
		flex-wrap: nowrap;
		gap: $global-module-size;
		height: $header-height;
		justify-content: space-between;
		padding-bottom: $global-module-size;
		padding-top: $global-module-size;
	}

	&__languages-mobile {
		border-bottom: 1px solid var(--theme-color-4);

		@include breakpoint(1000) {
			display: none;
		}

		ul {
			display: flex;
			font-size: rem(14);
			gap: $global-module-size;
			padding-bottom: rem(5);
			padding-top: rem(5);

			a {
				color: var(--theme-color-1);
				transition: var(--theme-default-transition);

				&:hover,
				&:focus,
				&:active {
					color: var(--theme-color-2);
				}
			}
		}
	}

	&__languages {
		display: none;

		@include breakpoint(1000) {
			display: flex;

			select {
				border: 1px solid var(--theme-color-4);
				color: var(--text-color-4);
				font-family: $font-family-1;
				font-size: rem(14);
				min-width: rem(120);
			}
		}
	}

	&__buttons {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding-left: $global-module-size;
	}

	&__logo {
		align-items: center;
		display: flex;
		flex-basis: 200px;
		height: 100%;
		justify-content: center;
		max-width: rem(200);

		img {
			height: 100%;
			max-width: 100%;
			object-fit: contain;
		}
	}

	.icon-menu {
		color: var(--text-color-4);
		cursor: pointer;
		font-size: rem(40);
		transition: var(--theme-default-transition);

		&:hover,
		&:focus,
		&:active {
			color: var(--theme-color-2);
		}

		@include breakpoint(950) {
			display: none;
		}
	}

	&__search-icon {
		color: var(--text-color-4);
		cursor: pointer;
		font-size: rem(30);
		transition: var(--theme-default-transition);

		&:hover,
		&:focus,
		&:active {
			color: var(--theme-color-2);
		}

		@include breakpoint(1000) {
			display: none;
		}
	}

	&__search {
		display: none;

		@include breakpoint(1000) {
			align-items: center;
			display: flex;
			justify-content: center;
		}
	}

	&__search-mobile {
		background-color: var(--theme-color-1);
		box-shadow: var(--theme-box-shadow);
		left: 0;
		opacity: 0;
		padding: rem(10) 0;
		padding-bottom: rem(10);
		padding-top: rem(10);
		position: absolute;
		top: 90%;
		transition: var(--theme-default-transition);
		visibility: hidden;
		width: 100%;
		z-index: 1;

		&.is-visible {
			opacity: 1;
			top: 100%;
			visibility: visible;
		}

		& .#{$layout-name}__search-form {
			width: 100%;
		}

		@include breakpoint(1000) {
			display: none;
		}
	}

	&__search-form {
		border: 1px solid var(--theme-color-4);
		display: flex;
		flex-direction: row;
		height: rem(50);
		min-width: rem(300);
		position: relative;

		@include breakpoint(1200) {
			min-width: rem(400);
		}

		label {
			width: 100%;
		}

		input {
			border: 0;
			display: flex;
			font-family: $font-family-1;
			height: 100%;
			width: 100%;

			&:focus,
			&:active {
				border: 0;
				outline: 1px solid var(--theme-color-1);
			}
		}
	}

	&__search-button {
		background-color: #fff;
		border: 1px solid var(--theme-color-4);
		border: 0;
		color: var(--theme-color-4);
		cursor: pointer;
		font-family: var(--font-family-1);
		font-weight: 700;
		height: 100%;
		padding: rem(10);
		position: absolute;
		right: 0;
		text-transform: uppercase;
		transition: var(--theme-default-transition);
		width: fit-content;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--theme-color-1);
			color: #fff;
		}
	}
}
