$layout-name: l-page;

.#{$layout-name} {
	&__content {
		@include content;
	}

	&__header {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: $global-module-size;
		justify-content: center;
		padding: $global-module-size * 2 0;
		text-align: center;
		width: 100%;
	}

	&__title {
		color: inherit;
		font-family: $font-family-1;
		font-size: rem(28);
		font-weight: 500;
	}

	&__grid {
		@include content("grid");
		min-height: 70vh;
		padding-top: $global-module-size * 2;

		.l-menu {
			display: none;
		}

		@include breakpoint(800) {
			grid-template-columns: 250px calc(100% - 250px);

			.l-menu {
				display: flex;
			}
		}
	}

	&__archive {
		display: grid;
		gap: $global-module-size;
		width: 100%;
	}
}
