$layout-name: l-page;

.#{$layout-name} {
	&__content {
		@include content;
	}

	&__header {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: $global-module-size;
		justify-content: center;
		padding: $global-module-size * 2 0;
		text-align: center;
		width: 100%;
	}

	&__title {
		color: inherit;
		font-family: $font-family-1;
		font-size: rem(28);
		font-weight: 500;
	}

	/*   &__archive {
    @include content("grid");
    gap: $global-module-size;
    @include breakpoint(600) {
      grid-template-columns: 1fr 1fr;
      .c-pagination {
        grid-column: 1 / 3;
      }
    }

    @include breakpoint(1000) {
      grid-template-columns: 1fr 1fr 1fr;
      .c-pagination {
        grid-column: 1 / 5;
      }
    }
  } */
}