/* Light theme override — applied via .light-theme on body */
body {

	transition: background-color 0.25s;
	will-change: background-color;

	&.light-theme {
		--body-background-color: #fefefe;
		--main-text-color: #222;
		--text-color-1: rgb(34, 34, 34);
		--text-color-3: #7c89a0;
		--text-color-4: #464f61;
		--theme-color-4: #dacce7;
	}
}
