/*SEMANTIC GRID*/
$gutter: rem(20);

@mixin container {
	display: block;
	margin: 0 auto;
	width: 100%;
}

@mixin content($display: flex) {
	@if ($display =="flex") {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		flex: 0 1 auto;
	} @elseif ($display =="grid") {
		display: grid;
	}

	margin: 0 5%;
	max-width: 90%;

	@include breakpoint(1500) {
		margin: 0 auto;
		max-width: $global-max-width;
	}
}
