$component-name: c-backtotop;

.#{$component-name} {
	background-color: var(--theme-color-1);
	border-radius: rem(4);
	bottom: rem(30);
	box-shadow: 0 0 5px var(--theme-color-5);
	color: #fff;
	cursor: pointer;
	display: grid;
	font-size: rem(30);
	height: rem(50);
	left: rem(30);
	opacity: 0;
	place-items: center;
	position: fixed;
	transition: var(--theme-transition);
	visibility: hidden;
	width: rem(50);

	&:hover,
	&:focus,
	&:active {
		background-color: var(--theme-color-3);
	}

	&.is-visible {
		opacity: 1;
		visibility: visible;
		z-index: z-index("back-to-top");
	}

	span {
		padding-bottom: 5px;
	}

}
