$component-name: c-backtotop;

.#{$component-name} {
  background-color: var(--theme-color-1);
  border: 0;
  border-radius: rem(4);
  color: #fff;
  cursor: pointer;
  transition: var(--theme-default-transition);
  position: fixed;
  bottom: rem(50);
  right: rem(50);
  box-shadow: 0 0 5px #f5ecff;
  font-size: rem(30);
  width: rem(50);
  height: rem(50);
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--theme-color-3);
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    z-index: z-index("back-to-top");
  }

}