$component-name: c-button;

@mixin c-button {
	background-color: var(--theme-color-2);
	border: 0;
	border-radius: rem(4);
	color: #fff !important;
	cursor: pointer;
	padding: rem(10) !important;
	transition: var(--theme-transition);
	width: fit-content;

	&:hover,
	&:focus,
	&:active {
		background-color: var(--theme-color-6);
		color: #fff !important;
	}
}

@mixin c-button--secondary {
	background-color: var(--theme-color-1);
	border: 0;
	border-radius: rem(4);
	color: #fff !important;
	cursor: pointer;
	padding: rem(10) !important;
	transition: var(--theme-transition);
	width: fit-content;

	&:hover,
	&:focus,
	&:active {
		background-color: var(--theme-color-3);
		color: #fff !important;
	}
}

.#{$component-name} {
	@include c-button;
}
