$component-name: c-backtotop;

.#{$component-name} {
	background-color: var(--theme-color-1);
	border: none;
	border-radius: 9999px;
	bottom: rem(30);
	box-shadow: var(--theme-box-shadow);
	color: var(--text-color-2);
	cursor: pointer;
	display: grid;
	font-size: rem(22);
	height: rem(48);
	opacity: 0;
	place-items: center;
	position: fixed;
	right: rem(30);
	transition: var(--theme-transition);
	visibility: hidden;
	width: rem(48);

	&:hover,
	&:focus,
	&:active {
		background-color: var(--color-brand-purple-600);
		transform: translateY(-2px);
	}

	&.is-visible {
		opacity: 1;
		visibility: visible;
		z-index: z-index("back-to-top");
	}

	span {
		line-height: 1;
	}

}
