$layout-name: c-post;

.#{$layout-name} {
	border: 1px solid var(--theme-color-4);
	box-shadow: var(--theme-box-shadow);
	display: flex;
	flex-direction: column;
	gap: $global-module-size;
	padding: $global-module-size;
	transition: var(--theme-default-transition);
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		border-color: var(--theme-color-2);

		.c-post__title {
			color: var(--theme-color-2);
		}
	}

	&__title {
		color: var(--theme-color-1);
		font-size: rem(18);
		margin-bottom: rem(10);
		transition: var(--theme-default-transition);
	}

	&__subtitle {
		color: var(--text-color-1);
		font-size: rem(14);
	}

	&__categorie {
		color: var(--text-color-4);
		font-size: rem(12);
		font-weight: 700;
	}
}
